sample code/
venv/*
**/.DS_Store
FIAM-hackathon.code-workspace
data_example.csv
*.yaml
*.yml
lightning_logs/*
__pycache__/*
diagnostic_plots.png
iter0_predictions.csv
iter1_predictions.csv
plot_predictions.py
prediction_analysis.png
data processing PCA/cleaned data/cleaned_PCA_data.parquet
data processing PCA/cleaned data/cleaned_test_financial_data_with_pca.parquet
data processing PCA/cleaned data/cleaned_train_financial_data_with_pca.parquet
