sample code/
venv/*
**/.DS_Store
FIAM-hackathon.code-workspace
data_example.csv
*.yaml
*.yml
lightning_logs/*
__pycache__/*
diagnostic_plots.png
iter0_predictions.csv
iter1_predictions.csv
plot_predictions.py
prediction_analysis.png
